@charset "UTF-8" ;

#img{
    background-color: rgb(202, 15, 15);
   width: 350px;
   
}

#text{
    background-color: aquamarine;
    width: 350px;
    height: 350px;
    padding: 0em 0em 0em 0em ;
    border: 10px solid yellow;
    margin: 1px 1px 500px 350px;
}