@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --nav-bg-color:#121212;
    --nav-text-color:white ;
    --button-bg-color: #0052ce;
    --buttom-text-color:white ;
}

body{
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    /*inverte os itens na linha*/
    flex-direction: row-reverse;
    justify-content: space-between;
    /*alinha para ficar igual na linha*/
    align-items: center;
    background-color: var(--nav-bg-color);
    color: var(--nav-text-color);
    height: 6rem;/*6 rem = 60px*/
    padding: 0rem 2.4rem;
   
}

ul{
    list-style-type: none;
    display: flex;
    gap: 3rem;
    align-items: center;
}
   