@charset "UTF-8";
ol{
  column-count: 3;
  column-gap: 200px;
  column-fill: balance;
  column-width: 200px;
}
ol>li{
  text-align: justify;
  text-decoration: solid overline blue;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px red;
  text-indent: 30px;
}

ol>li::after{
  content: url("../imagem/favicon/favicon_io/favicon-16x16.png");
}

ul>li:hover{
   background-color: bisque;
   color: blueviolet;
   cursor: pointer;
}





