@charset "UTF-8";

@font-face {
    font-family: "baixado";
    src: url('../fonte/SAKURATA.ttf') format('truetype');
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

:root{
    --COR01:#00487C;
    --COR02:#4BB3FD;
    --COR03:#3e6680;
    --COR04:#0496FF;
    --COR05:#027BCE;
    --sakuta:"baixado";
}

header{
    background-color: black;
    text-align: center;
}

header>nav{
    display: flex;
    justify-content: space-between;
   align-items: center;
   background-color: #00487C;
    
}

nav>menu>ul{
    display: flex;

}

nav>menu>ul>li{
    margin-right: 30px;
}

h1{
    background-image: linear-gradient(to right,var(--COR01),var(--COR05),transparent);
    color: white;
    font-family: var(--sakuta);
    font-weight: bolder;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  cursor: pointer;
}
