@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.519);
    padding: 20px;
    background-color: #5050fc;
    color: white;
}

nav>menu>ul{
    list-style-type: none;
    display: flex;
    justify-content: end;
    background-color: #2d2dd3;
}

nav>menu>ul>li{
  margin-right: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

nav>menu>ul>li:hover{
    background-color: aliceblue;
    transition-duration: 0.8ms;
  }

  nav>menu>ul>li>a:hover{
    color: #5050fc;
    transition-duration: 0.8ms;
   }
 

nav>menu>ul>li>a{
   color: white;
   text-decoration: none;
   font-weight: bold;
  }

main>h1{
    text-align: center;
    padding: 20px;
}

main>section{
    max-width: 600px;
    background-color: gainsboro;
    padding: 10px;
    margin: auto;
    line-height: 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.207);
    border-radius: 10px;
}

main>section>div{
    max-width: 600px;
    height: 400px;
    margin-bottom: 10px;
    background-image: url('../imagem/poster/images.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

main>section>div>aside{
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.556);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

footer{
    text-align: center;
    background-color: #2d2dd3;
    color: white;
    text-shadow: 2px 2px 4px black;
    padding: 20px;
}