@charset "UTF-8";

@font-face {
    font-family: 'baixado';
    src: url('../fonte/SAKURATA.ttf') format('truetype');
}

:root{
    --cor01:#000000;
    --cor02:#14213D;
    --cor03:#FCA311;
    --cor04:#E5E5E5;
    --cor05:#FFFFFF;

    --font-sakurata:'baixado';
}

*{
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
}

header{
    background-image: linear-gradient(to right,#000000,#14213D,#FCA311,#14213D,#000000);
}

header>h1{
    text-align: center;
    font-family: var(--font-sakurata);
    font-size: 3rem;
    font-weight:  lighter;
    padding: 30px;
    color: var(--cor05);
    text-shadow: 0px 0px 10px #000000;

}
/*------menu------*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: var(--cor05);
}

.material-symbols-outlined:hover{
    color: var(--cor03);
    cursor: pointer;
}

nav>ul#mann{
    display: none;
}

nav>ul>li{
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #FCA311;
    padding: 10px;
}

nav>ul>li:hover{
    background-color: #000000;
    color: #FCA311;
    cursor: pointer;
}


nav>menu{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right,#000000,#14213D,#14213D,#000000);
    padding: 15px;
}

nav>menu>ul{
    list-style: none;
    display: flex;
}

nav>menu>ul>li{
    margin-right: 50px;
    color: var(--cor05);
    text-transform:uppercase ;
    font-weight: bold;
}

nav>menu>ul>li:hover{
    cursor: pointer;
    color: var(--cor03);
}

/*-----corpo------*/
main>section{
    max-width: 700px;
    background-color: var(--cor04);
    margin: auto;
    padding: 10px;
    text-align: justify;
    line-height: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.43);
}
main>section>h1{
    text-align: center;
}

main>section.bloco{
    margin-top: 60px;
}

/*----------rodapé----------*/

footer{
    background-image: linear-gradient(to right,#000000,#14213D,#14213D,#000000);
    text-align: center;
    color: #FCA311;
    font-size: 2em;
    font-weight: bold;
    margin-top: 30px;
}

footer:hover{
    color: #e78e00e6;
    cursor: pointer;
}