@charset "UTF-8";

/*-- tabela ---*/

section>article>table{
  border: 1px solid black;
  border-collapse: collapse;
  position: relative;
}
caption{
  border: 1px solid black;
  padding: 10px;
  vertical-align: auto;
}
thead>tr>th{
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
}
.bloco1,th{
  border: 1px solid black;
  padding: 10px;
  vertical-align: auto;
  width: 100px;
}
tbody>tr:nth-child(2n-1){
  background-color: darkkhaki;
}




