@charset "UTF-8" ;

@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

@font-face {
    font-family:'fontbaixada';
    src: url(Pokemon\ Solid.ttf) format('truetype');
    src: url(Pokemon\ Hollow.ttf) format('truetype');
}


/*
003049
D62828
F77F00
FCBF49
EAE2B7
*/

*{

padding: 0px;
margin: 0px;
}

:root{
    --corazul: #003049;
    --corverm: #d62828;
    --corlara: #F77F00;
    --corlarc: #FCBF49;
    --corpele: #EAE2B7;

    --fontgoogle: 'Rowdies', 'cursive';
    --fontbaixada: 'fontbaixada';
}

header{
    background-image: linear-gradient(to right,var(--corlara),var(--corazul));
    max-width: 100%;
}

header>h1{
    padding: 50px 0px;
    text-align: center;
    font-family: var(--fontgoogle);
    color: rgba(240, 248, 255, 0.889);
    font-size: 4em;
    text-shadow: 5px 5px 10px black;
    
}



#menu{
    background-color: #003049;
   padding: 20px 0px 20px 20px;
   min-width: 400px;
}

#menu>a{
    color: azure;
    text-decoration: none;
    font-family: var(--fontgoogle);
    padding: 10px ;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #d62828;
    
}

#menu>a:hover{
    background-color: aliceblue;
    color: #d62828;
    transition-duration: o.9s;
 }

 main{
    max-width: 700px;
    min-width: 400px;
    background-color: #FCBF49;
    margin: auto;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.529);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 3em;
 }

 main>h1{
    padding-bottom: 1em;
 }

 main>p{
    padding-bottom: 8px;
    text-indent: 30px;
 }

 main>div#imagem>img{
    width: 100%;
 }

 main>#imagem2{
   width: 300px;
   height: 300px;
   border: 10px solid rgba(0, 0, 0, 0);
  
 background-image: url("https://th.bing.com/th/id/R.0f46af66b9cdd932285fc7d5cc206908?rik=OUh4lLy4p6EWog&riu=http%3a%2f%2f1.bp.blogspot.com%2f-vhvNDB8y0DQ%2fTw-pxnaEY1I%2fAAAAAAAAA-E%2fK1FEmn7bMv4%2fs320%2fmascote_ceara.png&ehk=P6b9RghPi5c3oKTt106z3Wbl4roSm7R%2fEVth0gP2s7Y%3d&risl=&pid=ImgRaw&r=0");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: contain;margin: auto;
 
 }

 main>#imagem0{
   
   
}

main>#imagem0>p{
    max-width: 700px;
    height: 600px;
    background-image: url("https://th.bing.com/th/id/OIP.klQqXbKfs1tg1xZv5RrJ9gAAAA?pid=ImgDet&rs=1");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
   
 
   

 footer{
    padding: 50px auto;
    background-color: #003049;
    color: #F77F00;
 }

 footer>p{
    padding: 30px 0px;
    text-align: center;
    color: #EAE2B7;
 }

 footer>p>a{
    color: #d62828;
    text-transform: none;
    
 }