@charset "UTF-8";

@font-face {
    font-family: 'baixado';
    src: url('sakurata/SAKURATA.ttf') format('truetype');
}

  @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');





:root{
    --baixado:'baixado' ;
    --gugo: 'Pacifico', 'cursive';
}

*{
    padding: 0px;
    margin: 0px;
}




header{
    background-color: goldenrod;
    color: black;
    text-align: center;
    
}

header>h1{
  padding: 1px 0px;
  font-family: var(--baixado);
  font-size: 90px;
  
}

main{
    line-height: 40px;
    padding: 10px;
   
}

p.texto{
    font-family: var(--gugo);
}

header>p{
    padding-bottom: 5px;
  
   
}

footer{
    background-color: goldenrod;
    color: aliceblue;
    text-align: center;
}